

header {
	nav {
		text-align: middle;
		img{
			height: 5em;
			width: 5em;
		}
       	a{
       		padding-left: 2em;
       	}
	}
}
.simple-pricing{
	height: 15em;
	margin-top: 1em;
	background: url(https://media0.giphy.com/media/rHjtiKPkezza/200_s.gif);
	text-align: center;
}