$color: white;
$bp2: 479px;
$bp3: 767;
$bp4: 979;
header {
	nav {
		img{
			height: 5em;
			width: 5em;
		}
       	a{
       		padding-left: 2em;
       	}
	}
}
body{
	max-width: 50em;
	.simple-pricing{
		height: 15em;
		margin-top: 1em;
		margin-bottom: 1em;
		background: url(https://media0.giphy.com/media/rHjtiKPkezza/200_s.gif);
		background-size: contain;
		text-align: center;
		padding-top: 5em;
		
		h2{
			margin:0 0 0 0;
		}
	}	
	.five-dollar{
		border-color: #DDDDDD;
		border: 1px solid;
		text-align: center;
		margin-top: 1em;
		@media (min-width: $bp2) {
  		display: inline-block;
  		float:left;
  		margin-left: 2em;
  		width: 28%
 	 	}
	    .personal{
	    	background-color: #519251;
	    	color: $color;
			padding-top: 2em;
			padding-bottom: 2em;
	    	span{
	    		margin: 0 0 0 0;
	    	}
	    	h1{
	    		margin: 0 0 0 0;
	    		font-size: 40pt;

	    	}
	    }
	    
	    h4{
	    	background-color: #F7F7F7;
	    	border-color: #DDDDDD;
			border-top: 1px solid;
			margin: 0 0 0 0;
			padding-top: 1em;
			padding-bottom: 1em;
	    }
	    div{
	    	border-top: #DDDDDD;
	    	border: 1px solid;
	    	padding-top: 1em;
	    	padding-bottom: 1em;  
	    	button{
		    	height: 2em;
		    	border-color: #DDDDDD;
				border: 1px solid;
				border-radius: 40%;
			}
	    }
	}
	.twenty-five-dollar{
		border-color: #DDDDDD;
		border: 1px solid;
		text-align: center;
		margin-top: 1em;
		@media (min-width: $bp2) {
  			display: inline-block;
  			float:left;
  			margin-left: 2em;
  			width: 28%;
 	 	}
		
	    .smallb{
	    	background-color: #2C4985;
	    	color: $color;
	    	padding-top: 2em;
	    	padding-bottom: 2em;
	    	h3{
	    		margin: 0 0 0 0;
	    	}
	    	h1{
	    		margin: 0 0 0 0;
	    		font-size: 40pt;

	    	}
	    }
	    h4{
	    	background-color: #DDDDDD;
	    	border-color: #DDDDDD;
			border-top: 1px solid;
			margin: 0 0 0 0;
			padding-top: 1em;
			padding-bottom: 1em;
	    }
	    div{
	    	border-top: #DDDDDD;
	    	border: 1px solid;
	    	padding-top: 1em;
	    	padding-bottom: 1em;  
	    	button{
		    	height: 2em;
		    	border-color: #DDDDDD;
				border: 1px solid;
				border-radius: 40%;
			}
	    }
	}
	.fourty-five-dollar{
		border-color: #DDDDDD;
		border: 1px solid;
		text-align: center;
		margin-top: 1em;
		@media (min-width: $bp2) {
  		display: inline-block;
  		float:left;
  		margin-left: 2em;
  		width: 28%;
 	 	}
	    .enterprise{
	    	background-color: #272822;
	    	color: $color;
	    	padding-top: 2em;
	    	padding-bottom: 2em;
	    	h3{
	    		margin: 0 0 0 0;
	    	}
	    	h1{
	    		margin: 0 0 0 0;
	    		font-size: 40pt;	
	    	}
	    }
	    
	    h4{
	    	background-color: #DDDDDD;
	    	border-color: #DDDDDD;
			border-top: 1px solid;
			margin: 0 0 0 0;
			padding-top: 1em;
			padding-bottom: 1em;
	    }
	    div{
	    	border-top: #DDDDDD;
	    	border: 1px solid;
	    	padding-top: 1em;
	    	padding-bottom: 1em;  
	    	button{
		    	height: 2em;
		    	border-color: #DDDDDD;
				border: 1px solid;
				border-radius: 40%;
			}
	    }
	}
	.text-boxes div{
    	margin: 0 1em 1em 1em;
    	padding: 1em;
	   	p{
	    	color: #8B9498;
	    	margin: 0 0 0 0;
	   	}  	
	}
	footer{
		background-color: #272822;
		color: #8B9498;
		padding: 1em;
		text-align: center;
		@media (min-width: $bp2) {
  		display: block;
  		float: none;
 	 	}
		nav a{
			color: #8B9498;
		}
	}
}